<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

    <title>Shoppoing</title>
</head>
<nav class="nav-extended">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Bling Bling</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href=""> <i class="medium material-icons">account_circle</i></a></li>
        <li><a href="/cart"> <i class="material-icons">shopping_cart </i></a> </li>
        <li><a href="badges.html"><i class="material-icons">logout</i></a></li>
      </ul>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab"><a class="active" href="#test1">Gold</a></li>
        <li class="tab"><a class="active" href="/silver">Silver</a></li>
      </ul>
    </div>
  </nav>

  
 
{{{body}}}

</html>