<h1 class="hearder">FOR WOMEN</h1>


<div class="row">
    <div class="col s4 m2">
        <div class="card">
            <div class="card-image">
                <img src="https://www.pandorashop.co.za/media/catalog/product/cache/72a4c43ed7149c10540a5875da9d2886/3/9/399261c01-50.jpg?auto=webp&format=pjpg&width=960&height=1200&fit=cover">

            </div>
            <div class="card-content">
                <p>Heart Family Tree Collar Necklace</p>
                <p>R2 5000</p>
            </div>
             <p><button class="btn waves-effect waves-light" type="submit" name="action">Add To Cart
    <i class="material-icons right">send</i>
  </button></p>
        </div>
    </div>




    <div class="col s4 m2">
        <div class="card">
            <div class="card-image">
                <img src="https://www.pandorashop.co.za/media/catalog/product/cache/72a4c43ed7149c10540a5875da9d2886/3/9/392387c01_rgb_1.jpg?auto=webp&format=pjpg&width=960&height=1200&fit=cover">
        
            </div>
            <div class="card-content">
                <p>Sparkling Herbarium Cluster Pendant Necklace</p>
                <p>R 1750</p>
            </div>
            <p><button class="btn waves-effect waves-light" type="submit" name="action">Add To Cart
    <i class="material-icons right">send</i>
  </button></p>
        </div>
            <div></div>
    </div>




    <div class="col s4 m2">
        <div class="card">
            <div class="card-image">
                <img src="https://www.pandorashop.co.za/media/catalog/product/cache/72a4c43ed7149c10540a5875da9d2886/l/o/low_391229c01_rgb.jpg?auto=webp&format=pjpg&width=960&height=1200&fit=cover">
        
            </div>
            <div class="card-content">
                <p>Double Heart Pendant Sparkling Collar Necklace</p>
                <p>R1 500</p>
            </div>
             <p><button class="btn waves-effect waves-light" type="submit" name="action">Add To Cart
    <i class="material-icons right">send</i>
  </button></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s4 m2">
        <div class="card">
            <div class="card-image">
                <img src="https://www.pandorashop.co.za/media/catalog/product/cache/72a4c43ed7149c10540a5875da9d2886/3/9/399261c01-50.jpg?auto=webp&format=pjpg&width=960&height=1200&fit=cover">

            </div>
            <div class="card-content">
                <p>Heart Family Tree Collar Necklace</p>
                <p>R2 5000</p>
            </div>
             <p><button class="btn waves-effect waves-light" type="submit" name="action">Add To Cart
    <i class="material-icons right">send</i>
  </button></p>
        </div>
    </div>




    <div class="col s4 m2">
        <div class="card">
            <div class="card-image">
                <img src="https://www.pandorashop.co.za/media/catalog/product/cache/72a4c43ed7149c10540a5875da9d2886/3/9/392387c01_rgb_1.jpg?auto=webp&format=pjpg&width=960&height=1200&fit=cover">
        
            </div>
            <div class="card-content">
                <p>Sparkling Herbarium Cluster Pendant Necklace</p>
                <p>R 1750</p>
            </div>
            <p><button class="btn waves-effect waves-light" type="submit" name="action">Add To Cart
    <i class="material-icons right">send</i>
  </button></p>
        </div>
            <div></div>
    </div>




    <div class="col s4 m2">
        <div class="card">
            <div class="card-image">
                <img src="https://www.pandorashop.co.za/media/catalog/product/cache/72a4c43ed7149c10540a5875da9d2886/l/o/low_391229c01_rgb.jpg?auto=webp&format=pjpg&width=960&height=1200&fit=cover">
        
            </div>
            <div class="card-content">
                <p>Double Heart Pendant Sparkling Collar Necklace</p>
                <p>R1 500</p>
            </div>
             <p><button class="btn waves-effect waves-light" type="submit" name="action">Add To Cart
    <i class="material-icons right">send</i>
  </button></p>
        </div>
    </div>
</div>